body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

header {
    font-family: "Sofia";
    text-align: center;
    font-size: 4em;
    margin-bottom: .5em;
}

.container {
    background-color: white;
    outline: 3px solid black;
    width: 500px;
    height: 500px;
    display: flex;
}

.box {
    outline: 1px solid gainsboro;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
}

.btn {
    height: 50px;
    width: 100px;
}

.pressed {
    background-color: rgb(66, 179, 113);
    border: 1px solid black;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-github {
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    cursor: pointer;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}